
<p>A computer programmer, employed by <a href="http://capinvest.com.au">Capricorn Investment Partners</a> as IT manager, and as manager of <a href="http://ciplit.com.au">CIPL IT Services</a>.</p>

<p>I mostly work in C# / .NET 4.0, developing an in-house portfolio management system (WinForms based), with some ASP.NET MVC parts. I also do some development in Ruby, and have some commercial experience with HTML, JavaScript, and PHP.</p>

<p>Recently I've been contributing to <a href="http://...">MarkPad</a>, a WPF based Markdown editor created by the <a href="http://code52.org">Code52</a> project. It's pretty awesome.</p>

